@charset "utf-8";
<<<<<<< HEAD
h1 {
  background: linear-gradient(transparent 0, #00FFFF 0);
  }
=======
h1{font-family: 'Yu Mincho', sans-serif;
color:dodgerblue;}
    
p{font-family: 'Yu Mincho', sans-serif;
color:black;
    font-size: 20px}
body {
background-color: #CCFFFF;
}

.table-ul {
    position: fixed;
     top: -15px;
    left: -25px;
    z-index: 2;
  width: 100%;
  transition: .3s;
  background-color: #3ae;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.table-ul li {
    height:50px;
  border-right: 1px solid #fff;
  display: table-cell;
  vertical-align: middle;
}
.table-ul li:last-child {
  border-right: 0;
}
.table-ul li a {
  color: #fff;
  display: block;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 0;
}
}
>>>>>>> master
